<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>All chats here!</h2>
    <form action="/chats/new" method="GET">
        <button type="submit">Create new chat</button>
    </form>
    <br>
     <% for(let chat of chats) { %>
    <div class="chat">
        <p> From:<i> <%= chat.from %> </i> </p>
    </div>
    <div class="msg">
        <p>message: <%= chat.msg %> </p>
        <form action="/chats/<%=chat.id %>/edit" method="GET">
            <button id="btnEdit">Edit</button>
        </form>
        <br>
        <form action="/chats/<%=chat.id %>?_method=DELETE" method="POST">
            <button id="btnDelete">Delete</button>
        </form>
    </div>
    <p id="received-by">Received by <i> <%= chat.to %> </i> </p>
<hr>
    <p> <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %> </p>
  <p> <%= chat.created_at.toString().split(" ")[4] %> </p>
 
  <br> <br>
 <% } %>

</body>
</html>
