<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit listing</title>
</head>
<body>
  <h2>Here to edit listing</h2>

  <form method="POST" action="/listings/<%= listing._id %>?_method=PUT"> 
    <label for="title">
      Title: <input type="text" name="listing[title]" value="<%= listing.title %>" placeholder="Enter title">
    </label>
    <br><br>

    <label for="description">
      Description:
      <textarea name="listing[description]" rows="8" cols="112"><%= listing.description %></textarea>
    </label>
    <br><br>

    <label for="image">
      Image: <input type="text" name="listing[image]" value="<%= listing.image %>" placeholder="Enter image URL">
    </label>
    <br><br>

    <label for="price">
      Price: <input type="number" name="listing[price]" value="<%= listing.price %>">
    </label>
    <br><br>

    <label for="location">
      Location: <input type="text" name="listing[location]" value="<%= listing.location %>" placeholder="Enter location">
    </label>
    <br><br>

    <label for="country">
      Country: <input type="text" name="listing[country]" value="<%= listing.country %>" placeholder="Enter country">
    </label>
    <br><br>

    <button type="submit">Update listing</button>
  </form>
</body>
</html>
