<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>

    <% for (let post of posts) { %>
        <div>
            <h3>@<%= post.username %></h3>
            <h4><%= post.content %></h4>
            <a href="/posts/<%= post.id %>">See details</a> |
            <a href="/posts/<%= post.id %>/edit">Edit</a>
            
            <form action="/posts/<%= post.id %>?_method=DELETE" method="post" style="display:inline;">
                <button>Delete</button>
            </form>
        </div>
        <hr>
    <% } %>

    <br><br>
    <a href="/posts/new">Create new post</a>
</body>
</html>
