<% layout('/layout/Boilerplate.ejs') %>

<body>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>Edit Your Listing</h2>
        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
            <div class="invalid-feedback">Please enter valid title</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" name="listing[description]" rows="3" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Please enter short description</div>
          </div>
           
          <div class="mb-3">Original Listing image: <br>
          <img src="<%= originalImageUrl %>" >
          </div>
          

          <div class="mb-3">
            <label for="image" class="form-label">Upload image URL</label>
            <input type="file" id="image" name="listing[image]" class="form-control">
            <div class="invalid-feedback">Please enter valid link or URL for image </div>
          </div>

          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" id="price" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
            <div class="invalid-feedback">Please enter price of hotel/villa</div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" id="location" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
            <div class="invalid-feedback">Please enter valid location</div>
          </div>

          <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" id="country" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
            <div class="invalid-feedback">Please enter country name</div>
          </div>

          <button type="submit" class="btn btn-dark">Update Listing</button> <br> <br>
        </form>
      </div>
    </div>
  </div>
</body>
<script src="/js/script.js"></script>