<% layout('layout/Boilerplate') %>

<body>
  <%= success %>
  <%= error %>
  <h2>All listings are showing here!</h2>
   
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1"> 
      <% for(let listings of allListings){ %>
        <a href="/listings/<%= listings._id %>" class="listings-link"> 
    <div class="listing-card card col " >
         <img src="<%= listings.image.url %>" class="card-img-top" style="height: 20rem;" alt="listing_image">
       <div  class="card-img-overlay">abdcs</div>

      <div class="card-body">
        <p class="card-text"> <b><%= listings.title %></b></p> <br>
        <p>₹ <%= listings.price ? listings.price.toLocaleString("en-IN"): "N/A" %>/night </p>
      </div>
      </div>
      </a>
    <br>
  <% } %>
  </div>

</body>
