<%- include("includes/head.ejs")%>

<body>
   <h2>This is page belong to <%= data.name %> </h2>
   <button> Followers</button>
   <button> Following</button>

   <p> Follower:<%= data.Followers%> &nbsp; &nbsp; 
    Following: <%= data.Following %> 
</p>

<hr/>

<% for (post of data.posts) { %>
 <img src="<%= post.image %>" alt="some image">
  <p> Likes:<%= post.Likes%> &nbsp; &nbsp; 
    Comments: <%= post.Comments %> 
</p>

<% } %>

<%- include("includes/footer.ejs")%>
</body>
<script src="/app.js"></script>
</html>
